<!-- Modal Button -->

<button class="btn btn-warning" data-toggle="modal" data-target="#educationalBackgroundModal">Add Publication</button>


<!-- Modal Body -->

<!--
school
major
gpa
date
-->

<div class="modal fade" id="educationalBackgroundModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Add Educational Background</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="form-group row">
          <label class="col-sm-2 col-form-label">School</label>
          <div class="col-sm-10">
            <input type="text" name="school" class="form-control" id="inputSchool" placeholder="school" value="">
          </div>
        </div>
        <div class="form-group row">
          <label class="col-sm-2 col-form-label">Major</label>
          <div class="col-sm-10">
            <input type="text" name="major" class="form-control" id="inputMajor" placeholder="major" value="">
          </div>
        </div>
        <div class="form-group row">
          <label class="col-sm-2 col-form-label">GPA</label>
          <div class="col-sm-10">
            <input type="number" name="gpa" class="form-control" id="inputGpa" placeholder="gpa" value="">
          </div>
        </div>
        <div class="form-group row">
          <label class="col-sm-2 col-form-label">Graduation Date</label>
          <div class="col-sm-10">
            <input type="text" name="date" class="form-control" id="inputDate" placeholder="graduation date" value="">
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>