<!-- Modal Button -->

<button class="btn btn-warning" data-toggle="modal" data-target="#publicationModal">Add Publication</button>


<div class="modal fade" id="publicationModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Add Publication</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="form-group row">
          <label class="col-sm-2 col-form-label">Author</label>
          <div class="col-sm-10">
            <input type="text" name="author" class="form-control" id="inputAuthor" placeholder="author" value="">
          </div>
        </div>
        <div class="form-group row">
          <label class="col-sm-2 col-form-label">Title</label>
          <div class="col-sm-10">
            <input type="text" name="title" class="form-control" id="inputTitle" placeholder="title" value="">
          </div>
        </div>
        <div class="form-group row">
          <label class="col-sm-2 col-form-label">Address</label>
          <div class="col-sm-10">
            <input type="text" name="address" class="form-control" id="inputAddress" placeholder="address" value="">
          </div>
        </div>
        <div class="form-group row">
          <label class="col-sm-2 col-form-label">Book Title</label>
          <div class="col-sm-10">
            <input type="text" name="booktitle" class="form-control" id="inputBookTitle" placeholder="book Title" value="">
          </div>
        </div>
        <div class="form-group row">
          <label class="col-sm-2 col-form-label">School</label>
          <div class="col-sm-10">
            <input type="text" name="school" class="form-control" id="inputSchool" placeholder="school" value="">
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>