<!-- Modal Button -->

<button class="btn btn-warning" data-toggle="modal" data-target="#workExperienceModal">Add Work Experience</button>


<!-- Modal Body -->

<div class="modal fade" id="workExperienceModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Add Work Experience</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="form-group row">
          <label class="col-sm-2 col-form-label">Company</label>
          <div class="col-sm-10">
            <input type="text" name="company" class="form-control" id="inputCompany" placeholder="Company" value="">
          </div>
        </div>
        <div class="form-group row">
          <label class="col-sm-2 col-form-label">Position</label>
          <div class="col-sm-10">
            <input type="text" name="position" class="form-control" id="inputPosition" placeholder="Position" value="">
          </div>
        </div>
        <div class="form-group row">
          <label class="col-sm-2 col-form-label">Information</label>
          <div class="col-sm-10">
            <input type="text" name="info" class="form-control" id="inputInfo" placeholder="Information" value="">
          </div>
        </div>
        <div class="form-group row">
          <label class="col-sm-2 col-form-label">Start Date</label>
          <div class="col-sm-10">
            <input type="date" name="startdate" class="form-control" id="inputStartDate" placeholder="Start Date" value="">
          </div>
        </div>
        <div class="form-group row">
          <label class="col-sm-2 col-form-label">End Date</label>
          <div class="col-sm-10">
            <input type="date" name="enddate" class="form-control" id="inputEndDate" placeholder="End Date" value="">
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>