<% include ../partials/header %>
  </div>
  <div class="bg">
    <div class="caption">
      <span class="border">Welcome to Out Student Portfolio System.</span>
    </div>
    <span>
    <div class="card my-3 landing-search-bar container">
      <div class="card-body">
        <h4 class="card-title">Start by searching:</h4>
        <form class="form-inline search-bar" action="/publications/search/" method="get">
          <input class="form-control mr-sm-2 search-input" name="keyword" type="search" id="header-search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
      </div>
    </div>
  </span>