<% include ../partials/header %>


<div class="wrapper">
    <div class="box">
      <div class="row row-offcanvas row-offcanvas-left"> 
        
        <!-- sidebar -->
        <div class="column col-sm-2 col-xs-1 sidebar-offcanvas" id="sidebar">
          <ul class="nav">
                        <li><a href="#" data-toggle="offcanvas" class="visible-xs text-center"><i class="fa fa-bars"></i></a></li>
                  </ul>
          <ul class="nav hidden-xs" id="lg-menu">
            <li class="active"><a href="#postModal" role="button" data-toggle="modal"><i class="fa fa-linkedin"></i> Linkedin</a></li>
            <li><a href="#postModal" role="button" data-toggle="modal"><i class="fa fa-google-plus"></i> Google+</a></li>
            <li><a href="#postModal" role="button" data-toggle="modal"><i class="fa fa-twitter"></i> Twitter</a></li>
            <li><a href="#postModal" role="button" data-toggle="modal"><i class="fa fa-youtube"></i> YouTube</a></li>
          </ul>
          
          <!-- tiny only nav-->
          <ul class="nav visible-xs" id="xs-menu">
            <li><a href="#postModal" role="button" data-toggle="modal" class="text-center"><i class="fa fa-linkedin"></i></a></li>
            <li><a href="#postModal" role="button" data-toggle="modal" class="text-center"><i class="fa fa-google-plus"></i></a></li>
            <li><a href="#postModal" role="button" data-toggle="modal" class="text-center"><i class="fa fa-twitter"></i></a></li>
            <li><a href="#postModal" role="button" data-toggle="modal" class="text-center"><i class="fa fa-youtube"></i></a></li>
          </ul>
        </div>
        <!-- /sidebar --> 
        
        <!-- main right col -->
        <div class="column col-sm-10 col-xs-11" id="main"> 
          
          <!-- top nav -->
          <div class="navbar navbar-black navbar-static-top">
            <div class="navbar-header">
              <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".navbar-collapse"> <span class="sr-only">Toggle</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
              <a href="#postModal" role="button" data-toggle="modal" class="navbar-brand logo"><img src="https://static.licdn.com/scds/common/u/images/logos/linkedin/logo_in_nav_44x36.png" style="max-height:32px;"></a> </div>
            <nav class="collapse navbar-collapse" role="navigation">
              <ul class="nav navbar-nav">
                <li> <a href="#postModal" role="button" data-toggle="modal"><i class="fa fa-home"></i> Home</a> </li>
                <li> <a href="#postModal" role="button" data-toggle="modal"><i class="fa fa-user"></i> Personal</a> </li>
                <li> <a href="#postModal" role="button" data-toggle="modal"><i class="fa fa-graduation-cap"></i> Education</a> </li>
                <li> <a href="#postModal" role="button" data-toggle="modal"><i class="fa fa-briefcase"></i> Work</a> </li>
                <li class="visible-xs"> <a href="#postModal" role="button" data-toggle="modal"><i class="fa fa-comment"></i> Messages</a></li>
                <li class="visible-xs"> <a href="#postModal" role="button" data-toggle="modal"><i class="fa fa-flag"></i> Flags</a></li>
                <li class="visible-xs"> <a href="#postModal" role="button" data-toggle="modal"><i class="fa fa-users"></i> Network</a></li>
                <li class="visible-xs"> <a href="#postModal" role="button" data-toggle="modal"><i class="fa fa-user"></i> Account</a></li>
              </ul>
              <ul class="nav navbar-nav navbar-right hidden-xs">
                <li> <a href="#postModal" role="button" data-toggle="modal"><i class="fa fa-comment"></i></a></li>
                <li> <a href="#postModal" role="button" data-toggle="modal"><i class="fa fa-flag"></i></a></li>
                <li> <a href="#postModal" role="button" data-toggle="modal"><i class="fa fa-users"></i></a></li>
                <li> <a href="#postModal" role="button" data-toggle="modal"><i class="fa fa-user"></i></a></li>
              </ul>
            </nav>
          </div>
          <!-- /top nav -->
          
          <div class="padding">
  
  
  
            <div class="row">
            <div class="full col-sm-12"> 
          
                          <div class="row">
          
                  <div class="panel panel-default">
                    <div class="panel-body">
                   <div class="jumbotron">
    <p class="text-center"><img src="https://static.licdn.com/scds/common/u/images/logos/linkedin/logo_in_nav_44x36.png"></p>
          <h1 class="text-center">Linkedboot</h1>
          <p class="text-center">A LinkedIn style template for Bootstrap by Vince Nardone</p>
        
              
                     <p class="text-center"><a class="btn btn-primary btn-lg" href="http://uxdesigner.online/" target="_blank"><span>View My Website <i class="fa fa-external-link"></i></span></a></p>
          
   
  
              </div>
      </div>      </div>
      </div>      
              
              <!-- content -->
              <div class="row">
                <div class="col-md-8">
                  <div class="panel panel-default">
                    <div class="panel-body">
                      
                      <div class="row">
                        <div class="col-md-12">
                          <div class="row">
                            <div class="col-xs-12 col-sm-4 text-center"> <img src="https://media.licdn.com/mpr/mpr/shrink_100_100/AAEAAQAAAAAAAAQfAAAAJDRjZWI1M2ZjLTRiNTgtNGM5Yy1iMWIzLWY2MDA0OWFhNDIwZg.jpg" alt="" class="center-block img-square img-thumbnail img-responsive"> </div>
                            <!--/col-->
                            <div class="col-xs-12 col-sm-8">
                              <h3>Vince Nardone</h3>
                              
                           
                              
                              
                              <p><strong>About: </strong>UX Designer </p>
                              <p><strong>Hobbies: </strong> Read, out with friends, listen to music, dance, draw and learn new things. </p>
                              <p><strong>Skills: </strong> <span class="label label-info tags">UX</span> <span class="label label-info tags">UI</span> </p>
                            </div>
                            <!--/col--> 
                          </div>
                          <!--/row--> <!--/panel-body--> <!--/panel--> 
                        </div>
                        <!--/col--> 
                      </div>
                      <!--/row--> 
                      
                    </div>
                  </div>
                  <div class="panel panel-default">
                    <div class="panel-body">
                      <h3><span class="fa fa-user"></span> Personal Statement </h3>
                  
                      
                      <p>A passionate, skilled and adaptable UX &amp; UI Designer with experience in implementing and overseeing processes. Has a proven track record of remaining customer focused and adhering to best practice methodologies. Ability to bring about the fundamental changes needed in response to an evolving commercial and technological landscape. Strong strategic vision; along with the ability to successfully deliver complex solutions.</p>
                      <p class="signature">Vince Nardone</p>
                      <hr>
                      <h3><span class="fa fa-graduation-cap"></span> Education / Certification</h3>
                      <div class="row">
                        <div class="col-md-9">
                          <h4>Title</h4>
                          <p class="sub"><a href="#">Description</a> </p>
                          <p>Adipiscing elit. Nullam dapibus vehicula condimentum. Curabitur elit enim, accumsan vitae tristique ut, mollis at orci. Fusce cursus interdum neque nec aliquam. Proin turpis leo, laoreet non ultricies non, dictum nec nulla.</p>
                        </div>
                        <div class="year col-md-3">
                          <p>MM/DD/YY - MM/DD/YY</p>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-md-9">
                          <h4>Title</h4>
                          <p class="sub"><a href="#">Description</a> </p>
                          <p>Adipiscing elit. Nullam dapibus vehicula condimentum. Curabitur elit enim, accumsan vitae tristique ut, mollis at orci. Fusce cursus interdum neque nec aliquam. Proin turpis leo, laoreet non ultricies non, dictum nec nulla.</p>
                        </div>
                        <div class="year col-md-3">
                          <p>MM/DD/YY - MM/DD/YY</p>
                        </div>
                      </div>
                      
                      <!--Education / Certification  end-->
                      
                      <hr>
                      <h3><span class="fa fa-briefcase"></span> Work Highlights</h3>
                      <div class="row">
                        <div class="col-md-9">
                          <h4>Title</h4>
                          <p class="sub"><a href="#">Description</a> </p>
                          <p>Adipiscing elit. Nullam dapibus vehicula condimentum. Curabitur elit enim, accumsan vitae tristique ut, mollis at orci. Fusce cursus interdum neque nec aliquam. Proin turpis leo, laoreet non ultricies non, dictum nec nulla.</p>
                        </div>
                        <div class="year col-md-3">
                          <p>MM/DD/YY - MM/DD/YY</p>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-md-9">
                          <h4>Title</h4>
                          <p class="sub"><a href="#">Description</a> </p>
                          <p>Adipiscing elit. Nullam dapibus vehicula condimentum. Curabitur elit enim, accumsan vitae tristique ut, mollis at orci. Fusce cursus interdum neque nec aliquam. Proin turpis leo, laoreet non ultricies non, dictum nec nulla.</p>
                        </div>
                        <div class="year col-md-3">
                          <p>MM/DD/YY - MM/DD/YY</p>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-md-9">
                          <h4>Title</h4>
                          <p class="sub"><a href="#">Description</a> </p>
                          <p>Adipiscing elit. Nullam dapibus vehicula condimentum. Curabitur elit enim, accumsan vitae tristique ut, mollis at orci. Fusce cursus interdum neque nec aliquam. Proin turpis leo, laoreet non ultricies non, dictum nec nulla.</p>
                        </div>
                        <div class="year col-md-3">
                          <p>MM/DD/YY - MM/DD/YY</p>
                        </div>
                      </div>
                      <!--Job 1 end-->
                      
                      <hr>
                      
                      <!--Education & Certification end--> 
                      
                    </div>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="panel panel-default">
                    <div class="panel-body">
                      <h3 class="mobmid">Skills Levels </h3>
                      <p>HTML5</p>
                      <div class="progress">
                        <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100" style="width: 85%"> <span class="sr-only">85% Complete (success)</span> </div>
                      </div>
                      <!--skill end-->
                      
                      <p>CSS3</p>
                      <div class="progress">
                        <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100" style="width: 85%"> <span class="sr-only">85% Complete</span> </div>
                      </div>
                      <!--skill end-->
                      
                      <p>JS</p>
                      <div class="progress">
                        <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100" style="width: 85%"> <span class="sr-only">85% Complete (warning)</span> </div>
                      </div>
                      <!--skill end-->
                      
                      <p>Photoshop</p>
                      <div class="progress">
                        <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100" style="width: 85%"> <span class="sr-only">85% Complete (danger)</span> </div>
                      </div>
                      <!--skill end-->
                      <p>Illustrator</p>
                      <div class="progress">
                        <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100" style="width: 85%"> <span class="sr-only">85% Complete (danger)</span> </div>
                      </div>
                      <!--skill end-->
                      <p>Flash</p>
                      <div class="progress">
                        <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100" style="width: 85%"> <span class="sr-only">85% Complete (danger)</span> </div>
                      </div>
                      <!--skill end--> 
                    </div>
                  </div>
                  <div class="panel panel-default">
                    <div class="panel-body">
                      <h3><span class="fa fa-trophy"></span> Acheivements</h3>
                      <div class="acheivement">
                        <h4>Best Designer 2016</h4>
                        <p class="sub"><a href="#"></a></p>
                        <p>Studying all aspect of Design Including UX, Branding, Copy Exhibition Design, Ilustration and more...</p>
                      </div>
                    </div>
                  </div>
                  <div class="panel panel-default">
                    <div class="panel-body">
                      <h3><span class="fa fa-quote-left"></span> Testimonials</h3>
                      <div class="testimonial">
                        <blockquote>
                          <p>"Sit amet, consectetur adipisicing elit. Fuga quidem ipsum maiores necessitatibus sint, porro temporibus labore, amet officia unde libero eligendi? Porro dolorum itaque, facere harum amet, rem libero."</p>
                        </blockquote>
                        <h4>Joe Bloggs</h4>
                        <p>Job Title</p>
                      </div>
                    </div>
                  </div>
                  <hr>
                </div>
                <!-- /col-9 --> 
                
              </div>
              <div class="row">
                <div class="col-md-8">
                  <div class="panel panel-default">
                      <div class="panel-body">
                <div class="jumbotron">
  <p class="text-center"><img src="https://static.licdn.com/scds/common/u/images/logos/linkedin/logo_in_nav_44x36.png"></p>
            <h1 class="text-center">Linkedboot</h1>
            <p class="text-center">A LinkedIn style template for Bootstrap made by Vince Nardone</p>
           
          </div>
                </div>
                </div>
                </div>
                </div>
              <!-- /padding --> 
            </div>
              </div>
            <!-- /main --> 
          </div>
        </div>
      </div>
    </div>
  </div>
  
  
  
  <!--post modal-->
  <div id="postModal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
              Linkedboot Demo
        </div>
        <div class="modal-body" style="padding:15px;">
          <div class="jumbotron">
          <img src="logo_in_nav_44x36.png">
          <p class="text-center"><img src="https://static.licdn.com/scds/common/u/images/logos/linkedin/logo_in_nav_44x36.png"></p>
            <h1 class="text-center">Linkedboot</h1>
            <p class="text-center">A LinkedIn style template for Bootstrap made by Vince Nardone</p>
  
          </div>
        </div>
        <div class="modal-footer">
            <div>
            <button class="btn btn-default btn-sm" data-dismiss="modal" aria-hidden="true">OK</button>
            </div>	
        </div>
    </div>
    </div>
  </div>